// protoc-gen-java-dynamodb plugin generated (((
@com.amazonaws.services.dynamodbv2.datamodeling.DynamoDBTable(tableName = "{{tableName}}")
public static class {{dynamodbInnerClassName}} {
{{{attributesCode}}}
{{{noArgConstructorCode}}}
{{{allArgsConstructorCode}}}
{{{toOuterClassCode}}}
}

{{{toDynamoDBEntityCode}}}
// ))) protoc-gen-java-dynamodb plugin generated
